<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom" defaultResponseMode="Redirect">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://matrixcorp.cloud/404.html" responseMode="Redirect" />
            <error statusCode="404" subStatusCode="0" path="https://matrixcorp.cloud/404.html" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
